!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    
    script(src="https://raw.github.com/mrdoob/three.js/master/build/three.js")
    script(src="/js/main.js")